body, h1, h2 {
    margin: 0;
    padding: 0;
    }

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #3F00FF;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
main{
    padding: 2rem;
}

.profile {
    display: flex;
    align-items: center;
}

.photo {
    flex: 1;
    padding: 0 2rem;
}

footer {
    margin-top: auto;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
}